<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
     <head>
          <title>Talent</title>
     </head>

     <body>
          <div class="content-wrapper" layout:fragment="content">
               <!-- talent card -->
               <div class="container-fluid custom-container">
                    <div class="row">
                         <div class="col-12 my-2">
                              <div class="row">
                                   <!-- search bar tengah -->
                                   <div class="col-lg-6 col-sm-10 mb-2">
                                        <select id="searchJob" class="form-control select2" data-placeholder="Cari berdasarkan posisi" data-allow-clear="true">
                                             <option value=""></option>
                                             <option th:each="job : ${jobs}" th:value="${job.name}" th:text="${job.name}"></option>
                                        </select>
                                        <!-- <input
                  id="searchJob"
                  class="form-control shadow-sm"
                  type="search"
                  placeholder="Cari Berdasarkan Posisi"
                  aria-label="Search"
                /> -->
                                   </div>

                                   <!-- search bar tengah -->
                                   <div class="col-lg-6 col-sm-10 mb-2">
                                        <select id="searchSkill" class="form-control select2" data-placeholder="Cari berdasarkan skill" data-allow-clear="true">
                                             <option value=""></option>
                                             <option th:each="skill : ${skills}" th:value="${skill.name}" th:text="${skill.name}"></option>
                                        </select>
                                        <!-- <input
                  id="searchSkill"
                  class="form-control shadow-sm"
                  type="search"
                  placeholder="Cari Berdasarkan Skill"
                  aria-label="Search"
                /> -->
                                   </div>

                                   <div class="col-lg-12 row">
                                        <div class="fa fa-info-circle bg-blue fs-3 pr-0 mt-1" style="color: #007bff; width: fit-content"></div>
                                        <div class="" style="width: 95%">
                                             <span>All of our Software Developer candidates are job-ready digital talents who after a rigorous selection supervised by experts, graduated from our program, completed the Full Stack Web Development Bootcamp, and have mastered skills such as:</span>
                                             <div>
                                                  <span class="badge badge-primary">HTML</span>
                                                  <span class="badge badge-primary">CSS</span>
                                                  <span class="badge badge-primary">Javascript Programming</span>
                                                  <span class="badge badge-primary">DOM Manipulation</span>
                                                  <span class="badge badge-primary">React JS</span>
                                                  <span class="badge badge-primary">Express JS</span>
                                                  <span class="badge badge-primary">MySQL</span>
                                                  <span class="badge badge-primary">MongoDB</span>

                                                  <div class="d-flex justify-content-between">
                                                       <div class="d-flex">
                                                            <a class="btn btn-success idle1" onclick="displayData(0, '', '', 1)"> IDLE </a>
                                                            <a class="btn btn-success idle2" onclick="displayData(0, '', '', 2)"> NOT IDLE </a>
                                                       </div>
                                                  </div>

                                                  <!-- Cont oh elemen employee dengan atribut data-idle -->
                                                  <div class="employee" data-idle="idle">
                                                       <!-- Konten employee -->
                                                  </div>

                                                  <div class="employee" data-idle="not-idle">
                                                       <!-- Konten employee -->
                                                  </div>
                                                  <div id="mitraId" th:text="${institute.id}" style="display: none"></div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <!-- list talent -->
                         <div class="col-md-4 list-talent-card">
                              <div class="card talent-card border-0 border" id="listTalent">
                                   <div class="scrollable-content">
                                        <!-- talent -->
                                        <table class="col-md-12">
                                             <tbody id="talentTbl"></tbody>
                                        </table>
                                   </div>

                                   <!-- pagination -->
                                   <div class="mx-2 my-2 pagination-container justify-content-around">
                                        <p id="paginationInfo">Halaman 1 dari 1, Total Data: 0</p>
                                        <nav aria-label="Page navigation" class="ms-auto">
                                             <ul class="pagination mr-2" id="pagination">
                                                  <li class="page-item" id="firstPageBtn">
                                                       <a class="page-link" href="#" onclick="displayData(0)"> << </a>
                                                  </li>
                                                  <li class="page-item" id="lastPageBtn">
                                                       <a class="page-link" href="#" onclick="displayData(totalPage - 1)">>></a>
                                                  </li>
                                             </ul>
                                        </nav>
                                   </div>
                              </div>
                         </div>

                         <!-- iframe -->
                         <div class="col-md-8 iframe-talent-card">
                              <div class="card talent-card border-0">
                                   <div class="card-body" id="detailCard">
                                        <div class="col-md-12 text-center">
                                             <div class="iframe-width" id="talentDetailNoData">
                                                  <h1>Tidak ada data</h1>
                                             </div>
                                             <iframe class="iframe-width" id="talentDetail"></iframe>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div layout:fragment="script">
               <script th:src="@{/js/talent/mitra.js}"></script>
          </div>
     </body>
</html>
