<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <div th:insert="~{components-admin/plugin :: css}"></div>
    <title>Role</title>
  </head>

  <body>
    <div class="wrapper">
      <div th:insert="~{components-admin/navbar :: navbar}"></div>
      <div th:insert="~{components-admin/sidebar :: sidebar}"></div>

      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="m-2">
              <ol class="breadcrumb">
                <li
                  class="breadcrumb-item d-flex align-items-center text-muted"
                >
                  <i class="nav-icon fa fa-cog me-2"></i>Pengaturan
                </li>
                <li
                  class="breadcrumb-item active d-flex align-items-center"
                  style="color: #0066cc"
                >
                  <i class="nav-icon fa fa-user-shield me-2"></i>Role
                </li>
              </ol>
              <h1 class="mt-2"><strong>Role</strong></h1>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="col-12 mt-3">
                    <div class="row justify-content-between">
                      <div class="col-4 text-start ml-3 mt-2">
                        <a
                          class="btn bi bi-plus"
                          href="/admin/role/create"
                          style="
                            background-color: #006699;
                            color: white;
                            border: none;
                          "
                          >&nbsp;&nbsp;Tambah Role</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="card-body table-responsive">
                    <table id="table-role" class="table table-hover">
                      <thead class="table-primary">
                        <tr style="text-align: center">
                          <th class="col-1">No</th>
                          <th>Tipe</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody id="role-body"></tbody>
                    </table>
                  </div>
                  <div class="pagination-wrapper">
                    <div class="ml-3 pagination-container">
                      <p id="paginationInfo"></p>
                      <nav aria-label="Page navigation" class="ms-auto">
                        <ul
                          class="pagination justify-content-end mr-3"
                          id="pagination"
                        ></ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div th:insert="~{components-admin/plugin :: js}"></div>
    </div>

    <!-- JS Local -->
    <div>
      <script th:src="@{/js/role-admin/index.js}"></script>
    </div>
  </body>
</html>
