<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/changepassword-style.css}" />
    <title>Ganti Password</title>
</head>

<body class="change-password-body">
    <br></br>
    <br></br>
    <section class="gradient-form">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-5">
                    <div class="card forget-card text-black shadow">
                        <div class="card-body p-4">
                            <h3 class="text-center mb-4">Masukkan Password baru</h3>

                            <form th:action="@{/reset-password/{token}(token=${token})}" th:method="POST"
                                th:object="${changePasswordRequest}">
                                <input type="hidden" id="token" name="token" th:value="${token}" />

                                <div class="form-group mb-3">
                                    <label for="newPassword" class="mb-2"><strong>Password</strong></label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                                        placeholder="Masukkan password baru" th:field="*{newPassword}" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="confirmNewPassword" class="mb-2"><strong>Konfirmasi
                                            Password</strong></label>
                                    <input type="password" class="form-control" id="confirmNewPassword"
                                        name="confirmNewPassword" placeholder="Masukkan ulang password baru"
                                        th:field="*{confirmNewPassword}" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Submit</button>
                            </form>

                            <!-- Pesan error dari JavaScript -->
                            <p id="message" class="text-center mt-3"></p>
                            <!-- Pesan error dari backend -->
                            <p th:if="${message}" th:text="${message}" class="text-center mt-3"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/change-password/change-password.js}"></script>
</body>

</html>