<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />

    <div th:insert="~{components-admin/plugin :: css}"></div>
    <title>Lowongan</title>
  </head>

  <body>
    <div class="wrapper">
      <div th:insert="~{components-admin/navbar :: navbar}"></div>
      <div th:insert="~{components-admin/sidebar :: sidebar}"></div>

      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="m-2">
              <ol class="breadcrumb">
                <li
                  class="breadcrumb-item d-flex align-items-center text-muted"
                >
                  <i class="nav-icon fa fa-home me-2"></i>
                  <a class="text-muted" href="/admin">Beranda</a>
                </li>
                <li
                  class="breadcrumb-item d-flex align-items-center text-muted"
                >
                  <i class="nav-icon fa fa-file-contract me-2"></i
                  ><a class="text-muted" href="/admin/vacancy">Lowongan</a>
                </li>
                <li
                  class="breadcrumb-item active d-flex align-items-center"
                  style="color: #0066cc"
                >
                  Pelamar
                </li>
              </ol>
              <h1 class="mt-2"><strong>Pelamar</strong></h1>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid custom-container">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="col-12 mt-3">
                    <div class="row justify-content-between">
                      <div class="col-12 text-start mb-2 mt-2 ml-3">
                        <input
                          type="hidden"
                          id="jobId"
                          th:value="${vacancy.id}"
                        />
                        <h3 class="fw-bold" th:text="${vacancy.title}"></h3>
                        <h5 th:text="${vacancy.position}"></h5>
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid">
                    <div class="row">
                      <!-- Kolom 1 -->
                      <div
                        class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column px-3"
                      >
                        <!-- Select -->
                        <div class="mb-3">
                          <select id="mitra" class="form-control select2">
                            <option value="">Cari berdasarkan mitra</option>
                            <option
                              th:each="institute : ${institutes}"
                              th:value="${institute.instituteName}"
                              th:text="${institute.instituteName}"
                            ></option>
                          </select>
                        </div>

                        <!-- Tabel -->
                        <div class="px-2">
                          <div id="appliedTbl"></div>
                        </div>

                        <!-- Pagination -->
                        <div
                          class="d-flex justify-content-between align-items-center mt-3"
                        >
                          <p id="paginationInfo" class="mb-0">
                            Halaman 1 dari 1, Total Data: 0
                          </p>
                          <nav aria-label="Page navigation">
                            <ul
                              id="pagination"
                              class="pagination justify-content-end"
                            ></ul>
                          </nav>
                        </div>

                        <!-- Button -->
                        <div class="mb-3 text-end">
                          <button
                            title="Rekomendasi"
                            type="button"
                            class="btn btn-primary btn-block"
                            id="submit-button"
                            disabled="true"
                          >
                            Rekomendasikan
                          </button>
                        </div>
                      </div>

                      <!-- Kolom 2 -->
                      <div class="col-lg-6 col-md-6 col-sm-12 px-3">
                        <div class="card border-0 h-auto">
                          <div class="card-body text-center p-0">
                            <div id="talentDetailNoData">
                              <h1>Tidak ada data</h1>
                            </div>
                            <iframe
                              class="w-100 border-0 m-0"
                              style="height: 400px"
                              id="talentDetail"
                            ></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div th:insert="~{components-admin/plugin :: js}"></div>
    </div>

    <div layout:fragment="script">
      <script th:src="@{/js/vacancy-admin/applied.js}"></script>
    </div>
  </body>
</html>
