<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <div th:insert="~{components-admin/plugin :: css}"></div>
    <title>Template Pesan</title>
  </head>

  <body>
    <div class="wrapper">
      <div th:insert="~{components-admin/navbar :: navbar}"></div>
      <div th:insert="~{components-admin/sidebar :: sidebar}"></div>

      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="m-2">
              <ol class="breadcrumb">
                <li
                  class="breadcrumb-item d-flex align-items-center text-muted"
                >
                  <i class="nav-icon fa fa-cog me-2"></i>Pengaturan
                </li>
                <li
                  class="breadcrumb-item active d-flex align-items-center"
                  style="color: #0066cc"
                >
                  <i class="nav-icon fa fa-envelope me-2"></i>Template Pesan
                </li>
              </ol>
              <h1 class="mt-2"><strong>Tambah Template Pesan</strong></h1>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="fw-bold mb-3">Formulir Template Pesan</h4>
                    <div class="mb-3 col-6">
                      <label for="type" class="form-label required">Tipe Pesan</label>
                      <select class="form-select" id="type">
                        <option value="" disabled selected>Email/WA</option>
                        <option
                          th:each="type : ${types}"
                          th:value="${type.name()}"
                          th:text="${type.name()}"
                        ></option>
                      </select>
                      <div class="invalid-feedback">Kolom ini harus diisi</div>
                    </div>
                    <div class="mb-3 col-12">
                      <label for="message" class="required">Pesan</label>
                      <textarea
                        class="form-control"
                        id="message"
                        rows="3"
                        placeholder="Ketikkan pesan"
                      ></textarea>
                      <div class="invalid-feedback">Kolom ini harus diisi</div>
                      <p class="text-gray text-xs"></br>
                        <b>Note :</b></br> 
                        <b>{talent}</b> untuk nama talentnya</br>
                        <b>{date}</b> untuk tanggalnya</br>
                        <b>{start}</b> dan <b>{end}</b> untuk waktu mulai dan berakhirnya</br>
                        <b>{position}</b> untuk posisi yang diinginkan</br>
                        <b>{online}</b> untuk keterangan online/offline</br>
                        <b>{detail}</b> untuk link/lokasi interview</br>
                      </p>
                    </div>
                    <div class="container d-flex justify-content-end">
                      <a
                        th:href="@{/admin/message-template}"
                        class="btn btn-outline-primary btn-block me-2"
                        onclick="return confirmBack()"
                      >
                        Batal
                      </a>
                      <button
                        type="button"
                        class="btn btn-primary btn-block"
                        onclick="submit()"
                      >
                        Simpan
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div th:insert="~{components-admin/plugin :: js}"></div>
    </div>

    <!-- JS Local -->
    <div>
      <script th:src="@{/js/message-template-admin/create.js}"></script>
    </div>
  </body>
</html>
