<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <div th:insert="~{components-admin/plugin :: css}"></div>
    <title>Jadwal Wawancara</title>
  </head>

  <body>
    <div class="wrapper">
      <div th:insert="~{components-admin/navbar :: navbar}"></div>
      <div th:insert="~{components-admin/sidebar :: sidebar}"></div>

      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="m-2">
              <ol class="breadcrumb">
                <li
                  class="breadcrumb-item d-flex align-items-center text-muted"
                >
                  <i class="nav-icon fa fa-home me-2"></i>
                  <a class="text-muted" href="/admin">Beranda</a>
                </li>
                <li
                  class="breadcrumb-item active d-flex align-items-center"
                  style="color: #0066cc"
                >
                  <i class="nav-icon fa fa-calendar-check me-2"></i>Jadwal
                  Wawancara
                </li>
              </ol>
              <h1 class="mt-2"><strong>Jadwal Wawancara</strong></h1>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="col-12 mt-2">
                    <div class="row justify-content-between">
                      <div class="col-4 text-start mb-3 mt-2 ml-3">
                        <a
                          class="btn bi bi-plus"
                          href="/admin/interview-schedule/create"
                          style="
                            background-color: #006699;
                            color: white;
                            border: none;
                          "
                          >&nbsp;&nbsp;Tambah Jadwal Wawancara</a
                        >
                      </div>
                      <div class="col-3 text-end mb-3 mt-2 mr-3">
                        <a
                          class="btn bi bi-download"
                          href="/admin/interview-schedule/export"
                          style="
                            background-color: #006699;
                            color: white;
                            border: none;
                          "
                          >&nbsp;&nbsp;Export</a
                        >
                      </div>
                    </div>

                    <form
                      th:action="@{/admin/interview-schedule}"
                      method="get"
                      id="filter-form"
                    >
                      <div
                        class="row justify-content-between align-items-center"
                      >
                        <div class="input-group">
                          <div class="col-2">
                            <input
                              id="searchRecruiter"
                              name="searchRecruiter"
                              class="form-control"
                              type="search"
                              placeholder="Cari Perekrut"
                              aria-label="Cari Perekrut"
                              th:value="${searchRecruiter}"
                              oninput="applyFilter()"
                            />
                          </div>
                          <div class="col-2">
                            <input
                              id="searchTalent"
                              name="searchTalent"
                              class="form-control"
                              type="search"
                              placeholder="Cari Talent"
                              aria-label="Cari Talent"
                              th:value="${searchTalent}"
                              oninput="applyFilter()"
                            />
                          </div>
                          <div class="col-3">
                            <select
                              id="type"
                              class="form-select"
                              name="type"
                              onchange="applyFilter()"
                            >
                              <option value="">Tipe Wawancara</option>
                            </select>
                          </div>
                          <div class="col-3">
                            <input
                              id="date"
                              name="date"
                              class="form-control"
                              type="date"
                              placeholder="Tanggal"
                              aria-label="Tanggal"
                              onchange="applyFilter()"
                            />
                          </div>
                          <div class="col-2">
                            <select
                              id="status"
                              class="form-select"
                              name="status"
                              onchange="applyFilter()"
                            >
                              <option value="">Status</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="card-body table-responsive">
                    <table id="table-schedule" class="table table-hover">
                      <thead class="table-primary">
                        <tr style="text-align: center">
                          <th class="col-1">No</th>
                          <th>Perekrut</th>
                          <th>Talent</th>
                          <th>Posisi</th>
                          <th>Wawancara</th>
                          <th>Tanggal</th>
                          <th>Waktu</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody id="schedule-body"></tbody>
                    </table>
                  </div>

                  <div class="pagination-wrapper">
                    <div class="ml-3 pagination-container">
                      <p id="paginationInfo"></p>
                      <nav aria-label="Page navigation" class="ms-auto">
                        <ul
                          class="pagination justify-content-end mr-3"
                          id="pagination"
                        ></ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- JS Local -->
    <div layout:fragment="script">
      <script th:src="@{/js/interview-schedule-admin/index.js}"></script>
    </div>
  </body>
</html>
