<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8">
    <title>Lowongan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">


</head>

<body class="hold-transition sidebar-mini">
    <div class="content-wrapper" layout:fragment="content">
        <div id="container" class="container-fluid custom-container px-4">
    
          <div class="d-flex">
            <div class="form-group me-2" style="width: 50%;">
              <input type="text" class="form-control" placeholder="Cari Berdasarkan Nama" id="searchTalentName"
                oninput="filterTalentsName()">
            </div>
            <div class="form-group me-2" style="width: 50%;">
              <input type="text" class="form-control" placeholder="Cari Berdasarkan Posisi" id="searchTalentPosition"
                oninput="filterTalentsPosition()">
            </div>
          </div>
    
    
          <div id="talent-recommendations" class="row"></div>
          <div th:if="${#lists.isEmpty(recommendations) or recommendations.?[talents.size() > 0].isEmpty()}">
            Tidak terdapat rekomendasi talent.
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <div layout:fragment="script">
          <script th:src="@{/js/recommendation/index.js}"></script>
        </div>
      </div>
        

    </div>
    <div th:insert="~{components/footer :: footer}"></div>

        <script th:src="@{/js/job/index.js}"></script>
    </div>
</body>

</html>
