:root {
  --background-color: #c0dfed;
  --color: #013c5e;
}

* {
  font-family: "Poppins", sans-serif;
}

.forget-body {
  background: radial-gradient(circle, #c0dfed, #013c5e);
}

.forget-card {
  border-radius: 30px;
}

.gradient-form {
  height: fit-content !important;
}

.shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

h3,
p {
  color: var(--color);
}

.btn {
  min-width: 120px;
  min-height: 40px;
}
