<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <div th:insert="~{components-admin/plugin :: css}"></div>
    <title>Home</title>
  </head>

  <body>
    <div class="wrapper">
      <div th:insert="~{components-admin/navbar :: navbar}"></div>
      <div th:insert="~{components-admin/sidebar :: sidebar}"></div>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="m-2">
              <ol class="breadcrumb">
                <li
                  class="breadcrumb-item active d-flex align-items-center"
                  style="color: #0066cc"
                >
                  <i class="nav-icon fa fa-home me-2"></i>Beranda
                </li>
              </ol>
              <h1 class="mt-2"><strong>Beranda</strong></h1>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="flex-column justify-content-center text-center mt-5">
          <h1><strong>Selamat Datang</strong></h1>
          <div>
            <p th:text="${logged.firstName} + ' ' + ${logged.lastName}"></p>
          </div>
        </div>
      </div>
      <div th:insert="~{components-admin/plugin :: js}"></div>
    </div>
  </body>
</html>
