<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="content-wrapper" layout:fragment="content">
      <!-- slider section -->
      <section class="slider_section main-custom-container">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box text-institute">
                <h1
                  class="text-center custom-text-2"
                  th:text="${institute}"
                ></h1>
                <div class="card rounded-5" th:if="${totalTalents > 0}">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card rounded-5 mx-4 my-3 custom-color-2">
                        <div class="card-body">
                          <h5 class="card-title text-center text-white">
                            Total Pegawai
                          </h5>
                          <h1
                            class="card-title text-center text-white"
                            th:text="${totalTalents}"
                          ></h1>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <div class="row">
                          <h4
                            th:each="category : ${totalTalentsByCategory}"
                            class="card-text d-flex justify-content-between"
                          >
                            <span th:text="${category.key}"></span>
                            <span th:text="${category.value}"></span>
                          </h4>
                          <a
                            th:if="${totalTalents > 3}"
                            th:href="@{/employee}"
                            class="custom-text-2 fw-bold"
                            ><span>Selengkapnya ...</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-dashboard text-md-end text-center">
                <img th:src="@{img/icon.png}" alt="animate-bg" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end slider section -->
      <!-- start talent list -->
      <!-- <section
        class="service_section my-4"
        th:if="${recommendations != null and recommendations.size() > 0 and recommendations.?[talents.?[!disabled and !invited].size() > 0].size() > 0}"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="detail-box text-center" style="padding: 2rem">
                <h3
                  class="text-center custom-text-2 title-text"
                  style="padding-bottom: 1rem"
                >
                  Rekomendasi Talent
                </h3>
                <a
                  type="button"
                  th:href="@{/recommendation}"
                  class="btn btn-primary invite-button"
                  style="margin-top: 1rem"
                  >Lainnya</a
                >
              </div>
            </div>
            <div class="col-md-8" style="padding: 1rem">
              <div class="row">
                <th:block
                  th:each="recommendation, i : ${recommendations}"
                  th:if="${i.index < 3}"
                >
                  <th:block
                    th:each="talent, j : ${recommendation.talents}"
                    th:if="${i.count * j.count <= 3 and !talent.disabled and !talent.invited}"
                  >
                    <div
                      class="card mx-2 my-2"
                      style="width: 25%; min-width: 200px; padding: 1rem"
                    >
                      <img
                        th:if="${talent.photo != null}"
                        th:src="${talent.photo}"
                        alt="Profile Image"
                        class="card-img-top"
                        style="width: 100%; height: 226px; object-fit: cover"
                      />
                      <img
                        th:if="${talent.photo == null}"
                        src="https://cdn-icons-png.flaticon.com/512/3106/3106773.png"
                        alt="Profile Image"
                        class="card-img-top"
                        style="width: 100%; height: 226px; object-fit: cover"
                      />
                      <div
                        class="card-body text-center"
                        style="
                          display: flex;
                          flex-direction: column;
                          justify-content: space-between;
                        "
                      >
                        <h6 class="card-text" th:text="${talent.name}"></h6>

                        <div class="card-text w-100">
                          <h6
                            class="card-text text-md work-assignment"
                            th:text="${recommendation.position}"
                          ></h6>
                          <button
                            class="btn btn-primary bi bi-envelope card-text mb-2"
                            th:attr="onclick=|invite('${talent.id}', '${recommendation.id}')|"
                            style="width: 100%"
                          >
                            Invite
                          </button>
                          <button
                            class="btn btn-secondary bi bi-envelope-paper card-text"
                            th:attr="onclick=|cv('${talent.id}')|"
                          >
                            CV
                          </button>
                        </div>
                      </div>
                    </div>
                  </th:block>
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- end talent list-->
      <div class="col-md-12 my-4">
        <div class="col-md-6 offset-md-3 scrollable-content">
          <h2 class="text-center custom-text-2">Kalender</h2>
          <div id="calendar" class="calendar-home"></div>
          <!-- Modal -->
          <div
            class="modal fade edit-form"
            id="detailSchedule"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header border-bottom-0">
                  <h5 class="modal-title" id="modal-title">Detail Jadwal</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    data-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <span id="id" hidden></span>
                  <p>
                    <span class="fw-bold">Talent :</span>
                    <span id="name"></span>
                  </p>
                  <p>
                    <span class="fw-bold">Posisi :</span>
                    <span id="position"></span>
                  </p>
                  <p>
                    <span class="fw-bold">Tanggal :</span>
                    <span id="date"></span>
                  </p>
                  <p>
                    <span class="fw-bold">Waktu Mulai :</span>
                    <span id="startTime"></span>
                  </p>
                  <p>
                    <span class="fw-bold">Waktu Selesai :</span>
                    <span id="endTime"></span>
                  </p>
                  <p>
                    <span class="fw-bold">Online :</span>
                    <span id="offline"></span>
                  </p>
                  <p id="location">
                    <span></span>
                  </p>
                  <p id="link">
                    <span></span>
                  </p>
                  <p>
                    <span class="fw-bold">Status :</span>
                    <span id="status"></span>
                  </p>
                </div>
                <div
                  class="modal-footer border-top-0 d-flex justify-content-center"
                >
                  <button
                    class="btn btn-success"
                    id="processButton"
                    onclick="process()"
                  >
                    Proses
                  </button>
                  <a
                    href="#"
                    class="btn btn-primary"
                    id="rescheduleButton"
                    data-id=""
                    >Jadwal Ulang</a
                  >
                  <button
                    class="btn btn-warning text-white"
                    id="cancelButton"
                    onclick="cancel()"
                  >
                    Batalkan
                  </button>
                  <button
                    class="btn btn-primary"
                    id="acceptButton"
                    onclick="accept()"
                  >
                    Terima
                  </button>
                  <button
                    class="btn btn-danger"
                    id="rejectButton"
                    onclick="reject()"
                  >
                    Tolak
                  </button>
                  <a
                    href="#"
                    class="btn btn-info text-white"
                    id="historyButton"
                    data-id=""
                    >Riwayat</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div layout:fragment="script">
      <script th:src="@{/js/index.js}"></script>
    </div>
  </body>
</html>