<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link
      rel="shortcut icon"
      th:href="@{/img/favicon.ico}"
      type="image/x-icon"
    />

    <title>Pick-Me</title>

    <div th:replace="~{components/plugin :: css}"></div>
  </head>

  <body>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg user_nav-container">
          <a class="navbar-brand fw-bold" th:href="@{/}">
            <img
              th:src="@{img/metrodata-logo.webp}"
              alt="pickme-logo"
              class="brand-image border-0"
            />
            <span>Pick-Me</span>
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#clients">Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about"> About</a>
              </li>
              <li class="nav-item">
                <a
                  type="button"
                  class="btn btn-outline-primary ml-auto"
                  th:href="@{/login}"
                >
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span>LOGIN</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <div class="hero_area">
      <div class="hero_bg_box">
        <div class="bg_img_box">
          <img th:src="@{img/landing-bg.png}" alt="hero-bg" />
        </div>
      </div>

      <!-- slider section -->
      <section class="slider_section">
        <div class="container">
          <div class="row">
            <div
              th:if="${accessDeniedMessage}"
              class="alert alert-danger alert-dismissible fade show"
            >
              <p th:text="${accessDeniedMessage}"></p>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  Pick-Me <br />
                  Pick your talent
                </h1>
                <p>
                  Selamat datang di Pick-Me, platform revolusioner untuk
                  pencarian dan perekrutan talenta IT. Kami menyediakan
                  pengalaman rekrutmen yang efisien dengan fitur penjadwalan
                  wawancara yang memungkinkan anda langsung terhubung dengan
                  talenta berkualitas. Dengan Pick-Me, temukan, jadwalkan, dan
                  kolaborasi dengan mudah. Berdayakan bisnis Anda dengan
                  bakat-bakat unggul untuk mendorong inovasi. Selamat datang di
                  masa depan rekrutmen IT bersama Pick-Me!
                </p>
                <div class="btn-box">
                  <a href="#services" class="btn1"> Read More </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img th:src="@{img/animate-bg.png}" alt="animate-bg" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- service section -->

    <section class="service_section layout_padding">
      <div class="service_container" id="services">
        <div class="container">
          <div class="heading_container heading_center">
            <br>
            <br>
            <h2>Layanan <span style="color: #007bff;">Kami</span></h2>
            <p>
              Kami berkomitmen untuk menyajikan talenta-talenta terbaik dengan kualifikasi unggul, 
              yang dapat Anda temukan dengan mudah melalui platform Pick-Me kami. 
              Teruslah berkembang dan kembangkan lebih baik bersama kami!
            </p>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card h-100 p-4" style="background-color: #C0DFED;">
                <div class="img-box text-center mb-3">
                  <img src="img/service3-img.png" alt="find-icon" class="card-img-top" style="width: 40%;" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title font-weight-bold">JELAJAHI TALENT</h5>
                  <p class="card-text">
                    Dengan fitur unggulan kami, Anda dapat menjelajahi berbagai talenta IT yang tersedia.
                    Temukan portofolio yang sesuai dengan kebutuhan perusahaan Anda, 
                    memastikan setiap pilihan mendukung pertumbuhan dan inovasi.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100 p-4" style="background-color: #C0DFED;">
                <div class="img-box text-center mb-3">
                  <img src="img/service1-img.png" alt="explore-icon" class="card-img-top" style="width: 40%;" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title font-weight-bold">EKSPORASI KUALIFIKASI</h5>
                  <p class="card-text">
                    Telusuri berbagai talenta berkualifikasi lengkap dengan CV terperinci yang siap untuk peluang kerja Anda. 
                    Pick-Me mempermudah pencarian kandidat terbaik dengan tampilan interaktif dan intuitif.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100 p-4" style="background-color: #C0DFED;">
                <div class="img-box text-center mb-3">
                  <img src="img/service2-img.png" alt="schedule-icon" class="card-img-top" style="width: 40%;" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title font-weight-bold">JADWAL INTERAKTIF</h5>
                  <p class="card-text">
                    Temukan kandidat yang tepat dan jadwalkan wawancara langsung dalam satu platform. 
                    Pick-Me mempercepat proses rekrutmen, memastikan Anda mendapatkan talenta terbaik dengan lebih efisien.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!-- end service section -->

    <!-- client section -->
    <section class="team_section layout_padding">
      <div class="container-fluid" id="clients">
        <div class="heading_container heading_center">
          <h2 class="">Klien <span>Kami </span></h2>
        </div>

        <div class="team_container">
          <div class="row">
            <div class="col-lg-2 col-sm-6">
              <div class="box">
                <div class="img-box">
                  <img th:src="@{/img/1.png}" class="img1" alt="" />
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="box">
                <div class="img-box">
                  <img th:src="@{/img/2.png}" class="img1" alt="" />
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="box">
                <div class="img-box">
                  <img th:src="@{/img/3.png}" class="img1" alt="" />
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="box">
                <div class="img-box">
                  <img th:src="@{/img/4.png}" class="img1" alt="" />
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="box">
                <div class="img-box">
                  <img th:src="@{/img/5.png}" class="img1" alt="" />
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="box">
                <div class="img-box">
                  <img th:src="@{/img/6.png}" class="img1" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end team section -->

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center" id="about">
          <h2>Tentang <span>Kami </span></h2>
          
          <p>
            Kami berkomitmen untuk merevolusi cara Anda menemukan dan merekrut
            talenta IT yang unggul. Dengan menyediakan akses langsung ke
            jaringan mitra penyedia kami, kami memastikan pengalaman rekrutmen
            yang efisien dan tanpa hambatan. Dukung kami untuk mengoptimalkan
            potensi sumber daya manusia di dunia IT melalui Pick-Me!
          </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img
                th:src="@{img/mockup-img.png}"
                alt="logo-img"
                title="Mockup Pick-Me"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h3>Pick-Me oleh Metrodata</h3>
              <p>
                Pick-Me hadir sebagai platform unggulan untuk menemukan talenta terbaik sesuai kebutuhan perusahaan Anda. 
                Kami berkomitmen untuk terus berkembang menjadi solusi rekrutmen terdepan di masa depan.
              </p>
              <p>
                Jelajahi talenta dengan mudah, jadwalkan wawancara dengan kandidat berkualitas, 
                dan nikmati dukungan penuh dari tim kami yang memastikan proses kolaborasi antara mitra 
                dan kandidat berjalan optimal. Pick-Me membuka pintu bagi pengalaman rekrutmen yang lebih dinamis dan efisien.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <div th:replace="~{components/plugin :: js}"></div>
    <div th:insert="~{components/footer :: footer}"></div>
    <div layout:fragment="script">
      <script type="text/javascript" th:src="@{/js/custom.js}"></script>
    </div>
  </body>
</html>
