<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
  <title>Dashboard - Mitra</title>
</head>

<body>
  <div class="content-wrapper custom-container" layout:fragment="content">
    <div class="hero_area">
      <div class="hero_bg_box">
        <div class="bg_img_box">
          <!-- <img th:src="@{img/landing-bg.png}" alt="hero-bg" /> -->
        </div>
      </div>

      <!-- slider section -->
      <section class="slider_section custom-mitra-section">
        <div class="container">
          <div class="row">
            <div th:if="${accessDeniedMessage}" class="alert alert-danger alert-dismissible fade show">
              <p th:text="${accessDeniedMessage}"></p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-md-6">
              <div class="detail-box2">
                <h1>Welcome to Pick-Me</h1>
                <h2 sec:authorize="isAuthenticated()">
                  <span sec:authentication="name"></span>
                </h2>
              </div>
            </div>
            <div class="col-md-6" style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                ">
              <div class="img-box-mitra">
                <img th:src="@{img/mitra-img.png}" alt="Ilustrasi Mitra" title="Ilustrasi" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <section class="data_section layout_padding3">
      <div class="data_container container-fluid">
        <div class="row">
          <!-- Total -->
          <div class="col-md-12 my-2">
            <div class="row amount-data">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Job Posts</h6>
                    <h3 th:text="${total_jobs}"></h3>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Total Application</h6>
                    <h3 th:text="${totalsApplicant.getData().size()}"></h3>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" data-toggle="modal" data-target="#rejectModal">
                  <div class="card-body">
                    <h6 class="card-title">No. of Reject</h6>
                    <div th:each="total : ${totals}">
                      <div th:if="${total.status == 'Rejected'}">
                        <h3 th:text="${total.getTotal()}"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <!-- Menambahkan class modal-lg untuk membuat modal lebih besar -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="rejectModalLabel">Detail Reject</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Talent Name</th>
                            <th scope="col">Feedback</th>
                            <th scope="col">Rejected Date</th>
                            <th scope="col">Client</th>
                          </tr>
                        </thead>
                        <tbody id="tableBody">
                          <!-- Baris tabel akan ditambahkan di sini -->
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" data-toggle="modal" data-target="#acceptModal">
                  <div class="card-body">
                    <h6 class="card-title">No. of Hirings</h6>
                    <div th:each="total : ${totals}">
                      <div th:if="${total.status == 'Hired'}">
                        <h3 th:text="${total.getTotal()}"></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <!-- Menambahkan class modal-lg untuk membuat modal lebih besar -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="acceptModalLabel">Detail Hirings</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                      <!-- Tambahkan tabel di sini -->
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Talent Name</th>
                            <th scope="col">Recruiter</th>
                            <th scope="col">On Board Date</th>
                          </tr>
                        </thead>
                        <tbody id="tableBody2">
                          <!-- Baris tabel akan ditambahkan di sini -->
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div style="display: flex; flex-direction: row;">
            <!-- < card chart -->
            <div class="col-md-4 my-3" style="flex: 1;">
              <div class="card card-talent" style="height: 100%;">
                <div class="card-body">
                  <h5 class="card-title">My Talent</h5>
                  <div class="col-md-12 my-2">
                    <canvas id="myTalentChart"></canvas>
                  </div>
                  <div class="col-md-12 my-2">
                    <div class="row">
                      <div th:each="total : ${totals}" class="col-md-4 px-0">
                        <p>
                          <span class="rounded-pill mx-1"
                            th:style="'background-color:' + ${total.color} + ';'">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                          <span th:text="${total.status}"></span>
                        </p>
                        <h2 th:text="${total.total}" class="fw-bold"></h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card lowongan -->
            <div class="col-md-8 my-3" style="flex: 1;">
              <div class="card card-lowongan">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="card-title">Lowongan Terbaru</h4>
                    </div>
                    <div class="col-md-6 d-md-flex justify-content-md-end">
                      <div class="btn-group" role="group" aria-label="Button Group">
                        <a role="button" class="btn active" data-bs-toggle="button" id="filterAll">All</a>
                        <a role="button" class="btn" data-bs-toggle="button" id="filterMonthly">Monthly</a>
                        <a role="button" class="btn" data-bs-toggle="button" id="filterWeekly">Weekly</a>
                        <a role="button" class="btn" data-bs-toggle="button" id="filterToday">Today</a>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive pt-3 scrollable-content">
                    <table class="table table-hover">
                      <thead class="text-center">
                        <tr>
                          <th scope="col">Job Title</th>
                          <th scope="col">Position</th>
                          <th scope="col">Description</th>
                          <th scope="col">Total Application</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody class="align-middle" id="jobList">
                      </tbody>
                    </table>
                  </div>

                  <!-- pagination -->
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="mt-2 col-md-8 pagination-container justify-content-center">
                      <p id="paginationInfo">Halaman 1 dari 1, Total Data: 0</p>
                      <nav aria-label="Page navigation" class="mt-2">
                        <ul class="pagination mr-2" id="pagination">
                          <li class="page-item" id="firstPageBtn">
                            <a class="page-link" href="#" onclick="displayDataJob(0)">
                              << </a>
                          </li>
                          <li class="page-item" id="lastPageBtn">
                            <a class="page-link" href="#" onclick="displayDataJob(totalPage - 1)">>></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Calendar -->
          <div class="col-md-12 my-4">
            <div class="col-md-6 offset-md-3 scrollable-content">
              <h2 class="text-center custom-text-2">Kalender</h2>
              <div id="calendar" class="calendar-home"></div>
              <!-- Modal -->
              <div class="modal fade edit-form" id="detailSchedule" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                      <h5 class="modal-title" id="modal-title">Detail Jadwal</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal"
                        aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <span id="id" hidden></span>
                      <p>
                        <span class="fw-bold">Talent :</span>
                        <span id="name"></span>
                      </p>
                      <p>
                        <span class="fw-bold">Posisi :</span>
                        <span id="position"></span>
                      </p>
                      <p>
                        <span class="fw-bold">Tanggal :</span>
                        <span id="date"></span>
                      </p>
                      <p>
                        <span class="fw-bold">Waktu Mulai :</span>
                        <span id="startTime"></span>
                      </p>
                      <p>
                        <span class="fw-bold">Waktu Selesai :</span>
                        <span id="endTime"></span>
                      </p>
                      <p>
                        <span class="fw-bold">Online :</span>
                        <span id="offline"></span>
                      </p>
                      <p id="location">
                        <span></span>
                      </p>
                      <p id="link">
                        <span></span>
                      </p>
                      <p>
                        <span class="fw-bold">Status :</span>
                        <span id="status"></span>
                      </p>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                      <a href="#" class="btn btn-info text-white" id="historyButton" data-id="">Riwayat</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="card col-md-8 my-3">
              <div class="col-md-12 my-2">
                <h3>Lowongan Terbaru</h3>
                <div class="row">
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </section>
  </div>

  <div layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/mitra.js}"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> {% endcomment %}

  </div>
</body>

</html>