<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8">
    <title>Lowongan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">



</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <!-- Filter Section -->
            <div class="col-md-3">
                <div class="border p-3 mb-4">
                    <h6 class="mb-3">Batas Pendaftaran</h6>
                    <input type="date" class="form-control mb-3" placeholder="dd/mm/yyyy">
                    <h6 class="mb-3">Terakhir Diperbarui</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="lastUpdated" id="24jam">
                        <label class="form-check-label" for="24jam">24 Jam Terakhir</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="lastUpdated" id="1minggu">
                        <label class="form-check-label" for="1minggu">1 Minggu Terakhir</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="lastUpdated" id="1bulan">
                        <label class="form-check-label" for="1bulan">1 Bulan Terakhir</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="lastUpdated" id="kapanpun">
                        <label class="form-check-label" for="kapanpun">Kapanpun</label>
                    </div>
                </div>
            </div>

            <!-- Job Listings Section -->
            <div class="col-md-9">
                <form th:action="@{/vacancies}" method="get">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <input type="text" name="title" class="form-control" placeholder="Cari Judul Lowongan"
                                th:value="${title}" onchange="this.form.submit()">
                        </div>
                        <div class="col-md-6 mb-4">
                            <input type="text" name="position" class="form-control"
                                placeholder="Cari Berdasarkan Posisi" th:value="${position}"
                                onchange="this.form.submit()">
                        </div>
                    </div>
                </form>

                <!-- Job Listings Container -->
                <div id="job-listings">
                    <div th:if="${vacancies.size() == 0}">
                        <div class="alert alert-warning text-center">Data Tidak Ditemukan</div>
                    </div>
                    <div class="row">
                        <div th:each="vacancy : ${vacancies}" class="col-md-6 mb-4">
                            <div class="card shadow-sm">
                                <div class="card-body p-4">
                                    <h5 class="card-title" th:text="${vacancy.title}">Judul Lowongan</h5>
                                    <br>
                                    <h6 class="card-subtitle mb-2" style="color: #006683;" th:text="${vacancy.position}">Posisi</h6>
                                    <p class="card-text" th:text="${vacancy.description}">Deskripsi lowongan kerja.</p>
                          
                                    <p class="card-text">
                                        <small class="text-muted" style="font-weight: bold;">Batas Pendaftaran: <span style="font-weight: bold; "
                                                th:text="${vacancy.expiredDate}">Tanggal Expired</span>
                                        </small>
                                        <br />
                                        <small class="text-muted" style="font-weight: bold;" >Status: <span style="font-weight: bold;" th:text="${vacancy.status}">Status</span></small>
                                    </p>
                                    <hr>
                                    
                                    <a href="#" class="btn" style="background-color: #006683; color:antiquewhite;">Detail</a>
                                    <small class="text-muted" style="margin-left: 10px;">Dibuat <span th:text="${vacancy.daysSinceCreated}"></span> hari yang lalu</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="mt-2 col-md-8 pagination-container justify-content-center">
                    <p
                        th:text="'Halaman ' + (${currentPage} + 1) + ' dari ' + totalPages + ', Total Data: ' + totalElements">
                        Halaman Info</p>
                    <nav aria-label="Page navigation" class="mt-2">
                        <ul class="pagination mr-2">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/vacancies(page=${currentPage - 1}, size=${size})}">&laquo;</a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" class="page-item"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/vacancies(page=${i}, size=${size})}"
                                    th:text="${i + 1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/vacancies(page=${currentPage + 1}, size=${size})}">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        

    </div>
    <div th:insert="~{components/footer :: footer}"></div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.11/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <div layout:fragment="script">
        <script th:src="@{/js/job/index.js}"></script>
    </div>
</body>

</html>
