<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
  <title>Lowongan</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-1">
        Gambar Perusahaan
      </div>
      <div class="col-11">
        nama perusahaan
        <ul class="list-unstyled">
          <li> <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg>
              </button></span>
            Gaji
          </li>
          <li> <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg>
              </button></span>
            Gaji
          </li>
          <li> <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg>
              </button></span>
            Magang
          </li>
          <li> <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg>
              </button></span>
            Kreatif
          </li>
          <li> <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg>
              </button></span>
            Gaji
          </li>
          <li> <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
              </svg>
              </button></span>
            Gaji
          </li>
          <div class="row">
            <button type="button" class="btn btn-primary w-25 h-50 mt-5">Lamar</button>
          </div>
        </ul>
      </div>
    </div>
    <hr class="mb-3">
    <h6 class="card-text text-center mb-2">Tunjangan dan Keuntungan</h6>
    <div class="text-center mb-2">
      <div class="row">
        <div class="col"> Liburan dan Cuti
          <div class="text-justify mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem
            Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
        <div class="col"> Hadiah dan Vocher
          <div class="text-justify mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem
            Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
      </div>
    </div>
    <h6 class="card-text mb-2 text-center mt-5">Loker ini Dikelola Oleh</h6>
    <h6 class="card-text mb-2 text-center mt-5">Skills</h6>
    <div class="text-center rounded-3 " style="position: absolute; background-color: #DCDCDC">
      Laravel
    </div>

    <h6 class="card-text mb-2 text-center mt-5">Job Descriptions</h6>
    <div class="text-justify mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem
      Ipsum is simply dummy text of the printing and typesetting industry is simply dummy text of the printing and
      typesetting industry.Lorem
      Ipsum is simply dummy text of the printing and typesetting industry. </div>

    <div class="card mt-5" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Tentang Perusahaan</h5>
        <div class="row">
          <div class="col-1">
            Gambar Peusahaan
          </div>
          <div class="col-11">
            Nama perusahaan
          </div>
        </div>
        <div class="class">
          Lorem
          Ipsum is simply dummy text of the printing and typesetting industryis simply dummy text of the printing and
          typesetting industry.Lorem
          Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem
          Ipsum is simply dummy text of the printing and typesetting industryis simply dummy text of the printing and
          typesetting industry.Lorem
          Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
        <h6 class="card-subtitle mb-2 text-body-secondary mt-3">Alamat Kantor</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content is simply dummy text of the printing and typesetting industry.</p>
        <h6 class="card-subtitle mb-2 text-body-secondary mt-3">Galeri Perusahaan</h6>
      </div>
    </div>
  </div>
  <div layout:fragment="script">
    <script th:src="@{/js/job/index.js}"></script>
  </div>
</body>

</html>