<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <title>Perbarui Wawancara</title>
  </head>
  <body>
    <div class="content-wrapper" layout:fragment="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card mt-3">
              <div class="card-body">
                <h2>Formulir Email</h2>
                <div class="mb-3 col-12">
                  <label for="to">To:</label>
                  <input
                    type="email"
                    class="form-control"
                    id="to"
                    th:value="${interview.talent.email}"
                    disabled
                  />
                </div>
                <div class="mb-3 col-12">
                  <label for="cc">CC:</label>
                  <select
                    class="form-select select2"
                    id="ccSelect"
                    multiple="multiple"
                  >
                    <!-- Opsional: Isi dengan email CC default jika ada -->
                  </select>
                </div>

                <div class="mb-3 col-12">
                  <label for="talent">Talent:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    th:value="${interview.talent.name}"
                    disabled
                  />
                  <input
                    type="hidden"
                    id="talentId"
                    th:value="${interview.talent.id}"
                  />
                  <input
                    type="hidden"
                    id="interviewId"
                    th:value="${interview.id}"
                  />
                </div>
                <div class="mb-3 col-6">
                  <label for="position" class="required">Posisi:</label>
                  <select
                    class="form-select"
                    id="position"
                    required
                    th:onchange="positionHandler(this.value)"
                  >
                    <option
                      th:each="position : ${positions}"
                      th:value="${position.name}"
                      th:text="${position.name}"
                      th:selected="${position.name} == ${interview.position}"
                    ></option>
                  </select>
                  <div class="invalid-feedback">Kolom ini harus diisi</div>
                  <!-- <input
                    type="hidden"
                    name="oldPosition"
                    id="oldPosition"
                    th:value="${oldData.position}"
                  /> -->
                </div>
                <div class="mb-3 col-6">
                  <label for="offline" class="form-label required"
                    >Tipe Wawancara</label
                  >
                  <select
                    class="form-select"
                    id="offline"
                    required
                    th:onchange="interviewTypeHandler(this.value)"
                  >
                    <option
                      value="true"
                      th:selected="${interview.offline == true}"
                    >
                      Online
                    </option>
                    <option
                      value="false"
                      th:selected="${interview.offline == false}"
                    >
                      Offline
                    </option>
                  </select>
                  <!-- <input
                    type="hidden"
                    name="oldType"
                    id="oldType"
                    th:value="${oldData.type}"
                  /> -->
                </div>
                <div class="mb-3 col-12">
                  <label
                    for="locationAddress"
                    id="locationAddressLabel"
                    class="required"
                    >Lokasi:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="locationAddress"
                    th:value="${interview.locationAddress}"
                    th:onkeyup="detailHandler(this.value)"
                  />
                  <div class="invalid-feedback">Kolom ini harus diisi</div>
                </div>
                <div class="mb-3 col-12">
                  <label
                    for="interviewLink"
                    id="interviewLinkLabel"
                    class="required"
                    >Link Wawancara:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="interviewLink"
                    th:value="${interview.interviewLink}"
                    th:onkeyup="detailHandler(this.value)"
                  />
                  <div class="invalid-feedback">Kolom ini harus diisi</div>
                  <!-- <input
                    type="hidden"
                    id="oldDetail"
                    name="oldDetail"
                    th:value="${oldData.detail}"
                  /> -->
                </div>
                <div class="row mx-1">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="date" class="required">Tanggal:</label>
                      <input
                        type="date"
                        class="form-control"
                        id="date"
                        th:value="${interview.date}"
                        th:onchange="dateHandler(this.value)"
                        th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                      />
                      <div class="invalid-feedback">Kolom ini harus diisi</div>
                      <!-- <input
                        type="hidden"
                        id="oldDate"
                        name="oldDate"
                        th:value="${oldData.date}"
                      /> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label for="startTime" class="required"
                        >Waktu Mulai:</label
                      >
                      <input
                        type="time"
                        class="form-control"
                        id="startTime"
                        th:value="${interview.startTime}"
                        th:onchange="timeHandler()"
                      />
                      <div class="invalid-feedback">Kolom ini harus diisi</div>
                      <!-- <input
                        type="hidden"
                        id="oldStart"
                        name="oldStart"
                        th:value="${oldData.start}"
                      /> -->
                      <input
                        type="hidden"
                        id="oriStart"
                        name="oriStart"
                        th:value="${interview.startTime}"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label for="endTime" class="required"
                        >Waktu Selesai:</label
                      >
                      <input
                        type="time"
                        class="form-control"
                        id="endTime"
                        th:value="${interview.endTime}"
                        th:onchange="timeHandler()"
                      />
                      <div class="invalid-feedback">Kolom ini harus diisi</div>
                      <!-- <input
                        type="hidden"
                        id="oldEnd"
                        name="oldEnd"
                        th:value="${oldData.end}"
                      /> -->
                      <input
                        type="hidden"
                        id="oriEnd"
                        name="oriEnd"
                        th:value="${interview.endTime}"
                      />
                    </div>
                  </div>
                </div>
                <div class="mb-3 col-12">
                  <label for="message" class="required">Pesan:</label>
                  <textarea
                    class="form-control"
                    id="message"
                    th:value="${interview.message}"
                    th:text="${interview.message}"
                    rows="4"
                  ></textarea>
                  <div class="invalid-feedback">Kolom ini harus diisi</div>
                </div>
                <!-- <div class="mb-3 col-12">
                  <label for="feedback">Saran:</label>
                  <textarea
                    class="form-control"
                    id="feedback"
                    rows="4"
                  ></textarea>
                </div> -->
                <div class="float-end">
                  <a th:href="@{/interview-schedule}" class="btn btn-dark me-2"
                    >Kembali</a
                  >
                  <button
                    type="button"
                    class="btn btn-primary"
                    onclick="submit()"
                  >
                    Kirim
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div layout:fragment="script">
      <script th:src="@{/js/interview-schedule/update.js}"></script>
    </div>
  </body>
</html>
